/*Start Main*/
.body{
    background-color: #f4f6f9;
}
.body-main{
    position: absolute;
    left: 17em;
    top: 0;
    width: 80vw;
    color: #000;
    margin: 5vh 20px;

}
.table{
    color: #000;
}
.btn{
    margin: 0;
}
.body-main main section{

}
.acciones{

    text-align: center;
}
.acciones a{
    margin-right: 8px;
}
.main-footer{
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;

}
.card{
    min-height: 770px;
    height: auto;
    margin-bottom: 10px;
}
/*End Main*/