<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery-3.4.1.js"></script>

</head>
<body class="body">
<section class="app">
    <!-- Start side-menu -->
    <aside class="sidebar">
        <header><b>TABLERO DE CONTROL</b></header>
        <nav class="sidebar-nav">
            <ul>
                <li><a href="#"><i class="ion-ios-people"></i> <span>Empleados</span></a>
                    <ul class="nav-flyout">
                        <li><a id="ListarEmpleado" href="Empleado.html"><i class="ion-ios-list-outline"></i>Listar Empleados</a>
                        </li>
                        <li><a href="#"><i class="ion-person-add"></i>Nuevo Empleado</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-ios-people"></i> <span class="">Cliente</span></a>
                    <ul class="nav-flyout">
                        <li><a href="Cliente.html"><i class="ion-ios-list-outline"></i>Listar Clientes</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Puntaje Cliente</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-android-list"></i>
                    <span class="">Productos</span></a>
                    <ul class="nav-flyout">
                        <li><a href="Producto.html"><i class="ion-ios-list-outline"></i>Listar Productos</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nuevo Producto</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nuevo Ingreso</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-ios-keypad"></i>
                    <span class="">Categoria Producto</span></a>
                    <ul class="nav-flyout">
                        <li><a href="#"><i class="ion-ios-list-outline"></i>Listar Categorias</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nueva Reserva</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-briefcase"></i>
                    <span class="">Marca Producto</span></a>
                    <ul class="nav-flyout">
                        <li><a href="#"><i class="ion-ios-list-outline"></i>Listar Marcas</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nueva Reserva</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-android-bus"></i>
                    <span class="">Proveedores</span></a>
                    <ul class="nav-flyout">
                        <li><a href="Proveedor.html"><i class="ion-ios-list-outline"></i>Listar Proveedores</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nueva Reserva</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-social-usd"></i> <span class="">Pedidos</span></a>
                    <ul class="nav-flyout">
                        <li><a href="#"><i class="ion-ios-list-outline"></i>Listar Pedidos</a></li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Registrar Pedido</a>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-log-out"></i> <span class="">Cerrar Sesión</span></a></li>
            </ul>
        </nav>
    </aside>
    <!-- End side-menu -->
    <section class="body-main">
        <header>
            <!--         <h3 class="text-center text-light">Tutorial</h3>-->
            <h1 class="text-center text-light">CRUD con <span class="badge badge-danger">SISTEMA VENTAS</span></h1>
        </header>
    </section>
    <!-- Start body-main -->
    <section class="body-main">
        <main class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <button id="btnNuevoCliente" type="button" class="btn btn-success" data-toggle="modal">Nuevo</button>
                    </div>
                </div>
            </div>
            <section class="row">
                <div class="card">
                    <div class="card-body">

                        <table id="tablaCliente" class="table table-hover table-dark text-light table-responsive-lg table-bordered " style="width:100%">
                            <thead class="text-center">
                            <tr>
                                <th colspan="9">LISTA DE CLIENTES</th>
                            </tr>
                            <tr>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Dni</th>
                                <th>Edad</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

        </main>
        <footer class="main-footer">
            <div class="card-body">
            <strong>PROYECTO IDAT Copyright@ 2020.</strong>
            Todo los derechos reservados
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.2.1
            </div>
            </div>
        </footer>

    </section>
    <!--Modal para CRUD-->
    <section class="body-main" >
        <div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                    </div>
                    <form id="formCliente">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="idCliente" class="col-form-label">IdCliente:</label>
                                <input type="text" class="form-control" id="idCliente">
                            </div>
                            <div class="form-group">
                                <label for="nombres" class="col-form-label">Nombres:</label>
                                <input type="text" class="form-control" id="nombres">
                            </div>
                            <div class="form-group">
                                <label for="apellidos" class="col-form-label">Apellidos:</label>
                                <input type="text" class="form-control" id="apellidos">
                            </div>
                            <div class="form-group">
                                <label for="dni" class="col-form-label">Dni:</label>
                                <input type="text" class="form-control" id="dni">
                            </div>
                            <div class="form-group">
                                <label for="edad" class="col-form-label">Edad:</label>
                                <input type="number" class="form-control" id="edad">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnCancelar" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                            <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="body-main" >
        <form id="frmEliminarCliente" action="" method="POST">

            <div class="modal fade" id="modalEliminarCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 >Eliminar Cliente</h4>
                        </div>
                        <div class="modal-body">
                            ¿Esta seguro de eliminar al cliente?<strong data-name=""></strong>


                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnAceptarEliminar" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                            <button type="button" id="btnCancelarEliminar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- End body-main -->
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>
<script src="../static/js/main.js"></script>

</body>

</html>