<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/js/jquery-3.4.1.js"></script>

</head>

<body>
<section class="app">
    <!-- Start side-menu -->
    <aside class="sidebar">
        <header><b>TABLERO DE CONTROL</b></header>
        <nav class="sidebar-nav">
            <ul>
                <li><a href="#"><i class="ion-ios-people"></i> <span>Empleados</span></a>
                    <ul class="nav-flyout">
                        <li><a href="Empleado.html"><i class="ion-ios-list-outline"></i>Listar Empleados</a>
                        </li>
                        <li><a href="#"><i class="ion-person-add"></i>Nuevo Empleado</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-record"></i> <span class="">Cliente</span></a>
                    <ul class="nav-flyout">
                        <li><a href="Cliente.html"><i class="ion-ios-list-outline"></i>Listar Clientes</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Puntaje Cliente</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-ios-grid-view-outline"></i>
                    <span class="">Productos</span></a>
                    <ul class="nav-flyout">
                        <li><a href="Producto.html"><i class="ion-ios-list-outline"></i>Listar Productos</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nuevo Producto</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nuevo Ingreso</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-android-checkbox-outline-blank"></i>
                    <span class="">Categoria Producto</span></a>
                    <ul class="nav-flyout">
                        <li><a href="#"><i class="ion-ios-list-outline"></i>Listar Categorias</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nueva Reserva</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-android-checkbox-outline-blank"></i>
                    <span class="">Marca Producto</span></a>
                    <ul class="nav-flyout">
                        <li><a href="#"><i class="ion-ios-list-outline"></i>Listar Marcas</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nueva Reserva</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-android-checkbox-outline-blank"></i>
                    <span class="">Proveedores</span></a>
                    <ul class="nav-flyout">
                        <li><a href="#"><i class="ion-ios-list-outline"></i>Listar Proveedores</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nueva Reserva</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-social-usd"></i> <span class="">Pedidos</span></a>
                    <ul class="nav-flyout">
                        <li><a href="#"><i class="ion-ios-list-outline"></i>Listar Pedidos</a></li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Registrar Pedido</a>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-log-out"></i> <span class="">Cerrar Sesión</span></a></li>
            </ul>
        </nav>
    </aside>
    <!-- End side-menu -->
    <section>
        <header>
            <!--         <h3 class="text-center text-light">Tutorial</h3>-->
            <h1 class="text-center text-light">CRUD con <span class="badge badge-danger">SISTEMA VENTAS</span></h1>
        </header>
    </section>
    <!-- Start body-main -->
    <section class="body-main">
        <main class="container-fluid">
            <section class="row">
                <a id="btnNuevoEmpleado" class="btn btn-success float-right my-2"><i class="ion-plus-round"></i> Nuevo</a>
                <div class="card">
                    <div class="card-body">

                    <table id="tablaEmpleado" class="table table-hover table-dark text-light table-responsive-lg table-bordered">
                        <thead class="text-center">
                        <tr>
                            <th colspan="9">LISTA DE EMPLEADOS</th>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Dni</th>
                            <th>Edad</th>
                            <th>Celular</th>
                            <th>Direccion</th>
                            <th>Cargo</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    </div>
                </div>
            </section>

        </main>

    </section>
    <!--Modal para CRUD-->
    <section class="body-main" >
        <div class="modal fade" id="modalEmpleado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                    </div>
                    <form id="formEmpleado">
                        <div class="modal-body">
                            <div class="">
                                <label for="nombres" class="col-form-label">Nombre:</label>
                                <input type="text" class="form-control" id="nombres">
                            </div>
                            <div class="">
                                <label for="apellidos" class="col-form-label">Apellido:</label>
                                <input type="text" class="form-control" id="apellidos">
                            </div>
                            <div class="">
                                <label for="dni" class="col-form-label">Dni:</label>
                                <input type="text" class="form-control" id="dni">
                            </div>
                            <div class="">
                                <label for="edad" class="col-form-label">Edad:</label>
                                <input type="number" class="form-control" id="edad">
                            </div>
                            <div class="">
                                <label for="celular" class="col-form-label">Celular:</label>
                                <input type="text" class="form-control" id="celular">
                            </div>
                            <div class="">
                                <label for="direccion" class="col-form-label">Direccion:</label>
                                <input type="text" class="form-control" id="direccion">
                            </div>
                            <div class="">
                                <label  class="col-form-label">Cargo:</label>
                                <select id="cargo  " name="cargo" class="form-control">
                                    <option>Seleccione</option>
                                    <option value="cargo">VENDEDOR</option>
                                    <option value="cargo">ADMINISTRADOR</option>
                                </select>
                            </div>
                            <div class="">
                                <label for="usuario" class="col-form-label">Usuario:</label>
                                <input type="text" class="form-control" id="usuario">
                            </div>
                            <div class="">
                                <label for="contraseña" class="col-form-label">Contraseña:</label>
                            </div>
                            <div class="input-group">
                                <input id="contraseña" type="password" class="form-control">
                                <div class="input-group-append">
                                    <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnCancelar" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                            <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="body-main" >
        <form id="frmEliminarEmpleado" action="" method="POST">

            <div class="modal fade" id="modalEliminarEmpleado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 >Eliminar Empleado</h4>
                        </div>
                        <div class="modal-body">
                            ¿Esta seguro de eliminar al empleado?<strong data-name=""></strong>


                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnAceptarEliminar" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                            <button type="button" id="btnCancelarEliminar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- End body-main -->
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>
<script src="../static/js/main.js"></script>
</body>

</html>