<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery-3.4.1.js"></script>

</head>

<body>
<section class="app">
    <!-- Start side-menu -->
    <aside class="sidebar">
        <header><b>TABLERO DE CONTROL</b></header>
        <nav class="sidebar-nav">
            <ul>
                <li><a href="#"><i class="ion-ios-people"></i> <span>Empleados</span></a>
                    <ul class="nav-flyout">
                        <li><a href="Empleado.html"><i class="ion-ios-list-outline"></i>Listar Empleados</a>
                        </li>
                        <li><a href="#"><i class="ion-person-add"></i>Nuevo Empleado</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-record"></i> <span class="">Cliente</span></a>
                    <ul class="nav-flyout">
                        <li><a href="Cliente.html"><i class="ion-ios-list-outline"></i>Listar Clientes</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Puntaje Cliente</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-ios-grid-view-outline"></i>
                    <span class="">Productos</span></a>
                    <ul class="nav-flyout">
                        <li><a href="Producto.html"><i class="ion-ios-list-outline"></i>Listar Productos</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nuevo Producto</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nuevo Ingreso</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-android-checkbox-outline-blank"></i>
                    <span class="">Categoria Producto</span></a>
                    <ul class="nav-flyout">
                        <li><a href="#"><i class="ion-ios-list-outline"></i>Listar Categorias</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nueva Reserva</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-android-checkbox-outline-blank"></i>
                    <span class="">Marca Producto</span></a>
                    <ul class="nav-flyout">
                        <li><a href="#"><i class="ion-ios-list-outline"></i>Listar Marcas</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nueva Reserva</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-android-checkbox-outline-blank"></i>
                    <span class="">Proveedores</span></a>
                    <ul class="nav-flyout">
                        <li><a href="Proveedor.html"><i class="ion-ios-list-outline"></i>Listar Proveedores</a>
                        </li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Nueva Reserva</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-social-usd"></i> <span class="">Pedidos</span></a>
                    <ul class="nav-flyout">
                        <li><a href="#"><i class="ion-ios-list-outline"></i>Listar Pedidos</a></li>
                        <li><a href="#"><i class="ion-ios-plus-outline"></i>Registrar Pedido</a>
                    </ul>
                </li>
                <li><a href="#"><i class="ion-log-out"></i> <span class="">Cerrar Sesión</span></a></li>
            </ul>
        </nav>
    </aside>
    <!-- End side-menu -->
    <!-- Start body-main -->
    <section class="body-main">
        <main class="container-fluid">
            <section class="row">
                <a id="btnNuevoProducto" class="btn btn-success float-right my-2"><i class="ion-plus-round"></i> Nuevo</a>
                <div class="card">
                    <div class="card-body">

                    <table id="tablaProducto" class="table table-hover table-dark text-light table-responsive-lg table-bordered">
                        <thead class="text-center">
                        <tr>
                            <th colspan="9">LISTA DE PRODUCTOS</th>
                        </tr>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Marca</th>
                            <th>Proveedor</th>
                            <th>Stock</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    </div>
                </div>
            </section>

        </main>

    </section>
    <!--Modal para CRUD-->
    <section class="body-main" >
        <div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="formProducto">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="nombre" class="col-form-label">Codigo:</label>
                                <input type="text" class="form-control" id="nombre">
                            </div>
                            <div class="form-group">
                                <label for="apellido" class="col-form-label">Nombre:</label>
                                <input type="text" class="form-control" id="apellido">
                            </div>
                            <div class="form-group">
                                <label for="dni" class="col-form-label">Precio:</label>
                                <input type="text" class="form-control" id="dni">
                            </div>
                            <div class="form-group">
                                <label for ="marca" class="col-form-label">Marca: </label>
                                <select id="marca" name="" class="form-control ">
                                    <option value="1">Seleccione</option>
                                    <option value="2">gaa</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                            <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End body-main -->
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>
<script src="../static/js/main.js"></script>
</body>

</html>